body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(224, 85, 85);
    width: 600px;
    height: 600px
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: fit-content;
    border: 1px solid black;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    width: auto;
}

.square {
    box-sizing: border-box;
    border: 1px dotted black;
}
